/* THE DESKTOP CODE I GUESS */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

h1{
    min-width: 200px;
}

p {
    margin: 5px;
}

button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    transition-duration: 0.4s;
    min-width: 200px;
    min-height: 50px;
}

button:hover {
    background-color: white;
    color: black;
}

#cardStats {
    font-size: 14px;
    font-style: italic;
    min-width: 200px;
}

ul {
    display: inline-block;
    text-align: left;
}

li {
    list-style-type: none;
}
